<div class="offset-6 form-group">
    <!--

        <div class="search-hero">
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching  ....">
        </div>
    -->
    
      <div class="col-md-4"><br>
        <button type="button" class="btn btn-success" routerLink="/addArticle">Ajouter</button>
      </div>
    </div>
    <div class="container">
        <h2>La liste des Articles</h2>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Index</th>
              <th>Nom Article</th>
              <th>Quantite Article</th>
              <th>Description</th>
              <th>Prix</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
           <!--
               <tr *ngFor="let user of users | search :searchText ;let i=index ">
        --> 
               
        <tr *ngFor="let user of users  ;let i=index ">
              <td>{{(i+1)}}</td>
              <td>{{ user.nomArticle}}</td>
              <td>{{ user.quantiteArticle}}</td>
              <td>{{ user.description}}</td>
              <td>{{ user.prix}}</td>
            
              <td><button class="btn btn-update" [routerLink]="['/updateArticle', i]"> <img src="../../assets/img/icons8-edit-48.png"></button>
                 <button class="btn btn-delete" (click)="supprimerArticle(i)"> <img src="../../assets/img/icons8-ajouter-une-corbeille-24.png"></button>
              </td>
            </tr>
           </tbody>
        </table>
      </div>
    
    
    
